fastapi
uvicorn
websockets
keyring
keyrings.alt
requests
GitPython
PyJWT
click
python-dotenv
PyYAML
ruamel.yaml==0.17.40
docker
tenacity
aiodocker
paramiko
python-multipart
PyMySQL
psycopg2-binary
croniter