[Unit]
Description=Websoft9 PaaS Platform
Requires=network.target docker
After=network.target docker

[Service]
WorkingDirectory=/data/websoft9/systemd
ExecStart=/bin/bash send_credentials.sh
Restart=always
Type=simple
NotifyAccess=all
StandardError=syslog

[Install]
WantedBy=multi-user.target