[Unit]
Description=Websoft9 Linux AppStore
Requires=network.target docker.service
After=network.target docker.service

[Service]
WorkingDirectory=/opt/websoft9/systemd
ExecStartPre=/bin/bash /opt/websoft9/systemd/update_issue.sh
ExecStart=/bin/bash /opt/websoft9/systemd/start_up.sh
Restart=on-failure
Type=simple
NotifyAccess=all
StandardOutput=journal
StandardError=journal
User=root
Group=root

[Install]
WantedBy=multi-user.target