[Unit]
Description=mingdao service
After=network.target init-apps.service
[Service]
Type=simple
# tail -f for living process, otherwise this service is exit
ExecStart=/bin/bash -c "cd /data/apps/mingdao/installer && ./service.sh start && tail -f /dev/null"
ExecStop=-/bin/bash /data/apps/mingdao/installer/service.sh stopall
[Install]
WantedBy=multi-user.target
