[Unit]
Description=Init image powered by Websoft9
After=network.target systemd-networkd-wait-online.service docker.service

[Service]
Type=simple
TimeoutSec=120s
ExecStart=-/bin/bash /credentials/init.sh
ExecStartPost=/bin/systemctl disable init-apps
User=root
Group=root

[Install]
WantedBy=multi-user.target
