{% if init_db %}
{% for db_names,dbs in init_db.items() %}
{{db_names}} administrator username:{{dbs.admin}}
{{db_names}} administrator password:{{dbs.password}}
{% if dbs.users is defined and dbs.users is not none %}
{% for dbs_app_user in dbs.users %}

--- {{db_names}} connections for your {{ dbs_app_user }} installation---
database hostname: localhost or 127.0.0.1
database name:{{dbs_app_user}}
database username:{{dbs_app_user}}
database password:{{dbs.password}}

{% endfor %}
{% endif %}

---

{% endfor %}
{% endif %}

{% if init_application %}
{% for app_name,app_attr in init_application.items() %}
### Username and Password for your {{ app_name }} login ###
{% if app_attr.username is defined and app_attr.username is not none %}
{{app_name}} administrator Username: {{app_attr.username}}
{{app_name}} administrator Password: {{app_attr.password}}
{% endif %}
{% endfor %}
{% endif %}

{% if init_docker %}
{% for app_name,app_attr in init_docker.items() %}

{% if app_attr.admin_password is defined and app_attr.admin_password is not none %}
### Username and Password for your {{ app_name }} login ###

{{app_name}} administrator Username: {{app_attr.admin_username}}
{{app_name}} administrator Password: {{app_attr.admin_password}}
{% endif %}

{% if app_attr.db_password is defined and app_attr.db_password is not none %}
--- {{app_attr.db}} (Docker) connections for your {{app_name}} installation---
database name:{{app_attr.db_name}}
database username:{{app_attr.db_username}}
database password:{{app_attr.db_password}}
{% endif %}

{% endfor %}
{% endif %}
