name: logo timely update

on: 
#   schedule:
#   - cron: "0 4 * * *"
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write
    steps:
    - uses: actions/checkout@master
      name: Check out code  
    
    - name: update logo
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "xxx@websoft9.com"
        
        files=$(ls appmanage/static/images)
        for file in $files;do
          app=$(echo ${file%%-*})
          entry=$(curl --include \
                       --request GET \
                       --header 'Authorization: Bearer ${{secrets.CONTENTFUL_TOKEN}}' \
                       https://api.contentful.com/spaces/ffrhttfighww/environments/master/entries?content_type=media\&fields.slug=${app} | tail -n 1)
          data=$(echo $entry | jq -r '.items[0].fields.imageurl')
          if [[ "$data" == null ]];then
              continue
          fi
          url=$(echo $data | sed 's/en-US/en/' | jq -r '.en')

          logoFile=appmanage/static/images/${app}-websoft9.png
          git rm $logoFile
          git commit -m "delete former logo"
          wget -P appmanage/static/images $url  
        done
        
    - name: push logo
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: update logo
